services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    env_file:
      - .env
    environment:
      API_BASE_URL: ${API_BASE_URL}
      IS_SIGNUP_DISABLED: ${IS_SIGNUP_DISABLED}
    restart: unless-stopped
